<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs2640project">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS2640Project">
        <activity android:name=".HighScoresPage"
            android:configChanges="orientation|screenSize">  <!-- this is the change for orientation -->
        </activity>
        <activity android:name=".EndScreen4"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>